.ds {
    background-color: tomato;
    height: 20em;
    width: 40em;

    display: flex;
    align-items: center; 
    justify-content: space-around;
}

.top {
    border-radius: 2em 2em 0.5em 0.5em;
}

.middle {
    background-color: teal;
    height: 2em;
    border-radius: 1em;
}

.bottom {
    border-radius: 0.5em 0.5em 2em 2em;
}

.screen {
    height: 15em;
    width: 20em;

    background-color: grey;

    border: 0.5em solid greenyellow;
}