body {
    background-color: tomato;
}
.body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.ds {
    background-color: white;
    height: 18em;
    width: 38em;

    display: flex;
    align-items: center; 
    justify-content: space-around;

    border: 0.1em solid #A49F9F;

}

.top {
    border-radius: 2em 2em 0.5em 0.5em;

    border-bottom: groove #A9A7A3;
    border-bottom-width: 2px;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}


.grid {
    width: 4.5em;
    height: 2.5em;
    margin: 2em;

    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    justify-content: center;
    align-items: flex-end; 
}
.punto {
    height: 0.4em;
    width: 0.4em;

    border-radius: 50%;
    background-color: #2A2A2A;
}


.middle {
    background-color: whitesmoke;
    height: 2em;
    border-radius: 1em;
}

.divMIC {
    width: 25em;
    height: 2em;

    border-left: groove #A9A7A3;
    border-right: groove #A9A7A3;
    border-width: 0.9px;
    
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.divMIC1 {
    height: 1em;
    width: 0.3em;
    margin-right: 0.5em;
    border-radius: 35%;

    background-color: black; 
}
.divMIC2 {
    color: #b8b891;
    font-family: Arial, Helvetica, sans-serif;
    font-size: x-small;
}

.rightSide {
    width: 5em;
    
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.greyLight {
    height: 1.8em;
    width: 0.5em;
    margin-right: 0.5em;
    border-radius: 25%;
    background-color:grey;    
}
.greenLight {
    height: 1.8em;
    width: 0.5em;
    margin-right: 1.5em;
    border-radius: 25%;
    background-color:greenyellow;    
}

.leftSide {
    width: 5em;
} 

p {
    font-family: Arial, Helvetica, sans-serif;
    font-size: medium;
    color: #7D670E;
}


.screen {
    height: 14.5em;
    width: 19.5em;

    background-color: #E0DCD8;
    border: 0.1em solid #A49F9F;

    display: flex;
    justify-content: center;
    align-items: center;   
}
.screenBorder {
    height: 13em;
    width: 18em;
    background-color: grey;
    border: 0.1em solid #090909;
    background: linear-gradient(135deg, rgba(76,76,76,1) 0%, rgba(102,102,102,1) 21%, rgba(89,89,89,1) 43%, rgba(43,43,43,1) 77%, rgba(19,19,19,1) 100%);
}


.bottom {
    border-radius: 0.5em 0.5em 2em 2em;
    
    border-top: groove #A9A7A3;
    border-top-width: 2px;

    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.cross {
   height: 5.5em;
   width: 5.5em;
   margin-bottom: 5em;
   margin-right: 1.5em;

   background-image: url(https://images.grosbill.com/console_ds_dsi_xl_bleue-45490-2.jpg);
   background-position: center;
   background-size: cover;
}


.buttons {
    display: flex;
    flex-direction: column;
    justify-content: right;
}
.containerButtons {
    height: 8em;
    width: 7em;
}
.buttonYA {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 2.5em;
}
.buttonX {
    display: flex;
    justify-content: center;
    height: 2.3em;
}
.buttonB {
    display: flex;
    justify-content: center;
    height: 2.3em;

}
.XYAB {
    background-color: whitesmoke;
    border-radius: 50%;
    border-width: 0.9px;
    border-color: #757371;
    border-style: groove;

    font-size: medium;

    height: 2.5em;
    width: 2.5em;

    display: flex;
    justify-content: center;
    align-items: center;
}


.containerStartSelect {
    display: flex;
    flex-direction: column;
    margin-top: 2.5em;
}
.buttonsStartSelect {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 1.5em;  
}
.startSelect {
    height: 0.8em;
    width: 0.8em;
    border-radius: 50%;
    background-color: whitesmoke;
    margin-right: 0.5em;
    border-width: 0.9px;
    border-color: #757371;
    border-style: groove;
}
.startSelectFont {
    font-size: x-small;
}
